In [51]:
pip install Faker

Requirement already satisfied: Faker in c:\users\saiva\anaconda3\lib\site-packages (37.4.2)
Requirement already satisfied: tzdata in c:\users\saiva\anaconda3\lib\site-packages (from Faker) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [52]:
from faker import Faker
import pandas as pd
import numpy as np
import random
fake=Faker('en_IN')

In [53]:
fake.name()

'Samaksh Rout'

In [54]:
num_records = 100
data = []

for _ in range(num_records):
    data.append({
        'user_id': fake.unique.pyint(),
        'first_name': fake.first_name(),
        'last_name': fake.last_name(),
        'email': fake.free_email(),
        'city': fake.city(),
        'state': fake.state()})

df = pd.DataFrame(data)
print(df.head())
print(df.info())

   user_id first_name    last_name                    email         city  \
0     5256    Widisha         Dhar    champak01@hotmail.com     Bhusawal
1     2526   Vyanjana        Ahuja      devpillai@gmail.com       Haldia
2     3712    Abhiram  Swaminathan  hegdeyadavi@hotmail.com  Farrukhabad
3     1346  Vaishnavi     Tripathi      kaitata@hotmail.com      Vellore
4     8930     Pavani       Kapoor        fariq41@gmail.com        Patna

              state
0        Tamil Nadu
1  Himachal Pradesh
2            Odisha
3           Haryana
4            Sikkim
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        100 non-null    object
 5   state       100 non-null    object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB
None

In [55]:
df['city'].values

array(['Bhusawal', 'Haldia', 'Farrukhabad', 'Vellore', 'Patna',
       'Bhilwara', 'Silchar', 'Bikaner', 'Eluru', 'Sasaram', 'Kottayam',
       'Bhavnagar', 'Nagaon', 'Vadodara', 'Nashik', 'Tezpur',
       'Miryalaguda', 'Sikar', 'Nanded', 'Pali', 'Dhanbad', 'Ujjain',
       'Ambattur', 'Howrah', 'Buxar', 'Dhule', 'Sambhal', 'Jalandhar',
       'Amravati', 'Katihar', 'Chandigarh', 'Etawah', 'Mira-Bhayandar',
       'Nagercoil', 'Bhagalpur', 'Bharatpur', 'Bhiwani', 'Jammu', 'Satna',
       'Bhavnagar', 'Jalna', 'Bhilai', 'Chandrapur', 'Bidhannagar',
       'Kumbakonam', 'Serampore', 'Ambala', 'Bulandshahr', 'Alwar',
       'Gangtok', 'Nashik', 'Ambarnath', 'Bhimavaram', 'Parbhani',
       'Nadiad', 'Nashik', 'Amroha', 'Durgapur', 'Sirsa', 'Deoghar',
       'Kishanganj', 'Bongaigaon', 'Ambattur', 'Kalyan-Dombivli',
       'Kanpur', 'Nagercoil', 'Moradabad', 'Medininagar',
       'Rajpur Sonarpur', 'Solapur', 'Guntakal', 'Tiruvottiyur',
       'Yamunanagar', 'Raipur', 'Navi Mumbai', 'Mysore', 'Kulti',
       'Pondicherry', 'Begusarai', 'Kolhapur', 'Serampore', 'Adoni',
       'Guna', 'Lucknow', 'Vijayanagaram', 'Kota', 'Anantapur', 'Howrah',
       'Vijayawada', 'Tezpur', 'Kirari Suleman Nagar', 'Thoothukudi',
       'Indore', 'Guntur', 'Phagwara', 'Thoothukudi', 'Hajipur',
       'Bijapur', 'Fatehpur', 'Singrauli'], dtype=object)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        100 non-null    object
 5   state       100 non-null    object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

In [57]:
df.isnull().sum()

user_id       0
first_name    0
last_name     0
email         0
city          0
state         0
dtype: int64

In [58]:
df['user_id'] = df['user_id'].astype('Int64')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     100 non-null    Int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        100 non-null    object
 5   state       100 non-null    object
dtypes: Int64(1), object(5)
memory usage: 4.9+ KB

In [60]:
random_indices = df.sample(n=8).index
random_indices

Index([37, 40, 69, 81, 66, 22, 64, 65], dtype='int64')

In [61]:
df.loc[random_indices,'user_id'] = np.nan

In [62]:
df['user_id'].duplicated().sum()

7

In [63]:
random_indices2 = df.sample(n=5).index

In [64]:
df.loc[random_indices2,'state'] = np.nan

In [65]:
random_indices3 = df.sample(n=9).index

In [66]:
df.loc[random_indices3,'city'] = np.nan

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     92 non-null     Int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        91 non-null     object
 5   state       95 non-null     object
dtypes: Int64(1), object(5)
memory usage: 4.9+ KB

In [68]:
df.to_csv('imbalance data.csv')

In [69]:
df['user_id'].isna().sum()

8

In [70]:
df['state'].isna().sum()

5

In [71]:
df['city'].isna().sum()

9

In [72]:
df.duplicated().sum()

0

In [73]:
df.drop_duplicates(inplace=True)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     92 non-null     Int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        91 non-null     object
 5   state       95 non-null     object
dtypes: Int64(1), object(5)
memory usage: 4.9+ KB

In [75]:
df.duplicated().sum()

0

In [76]:
df.dropna()

,user_id,first_name,last_name,email,city,state
0,5256,Widisha,Dhar,champak01@hotmail.com,Bhusawal,Tamil Nadu
1,2526,Vyanjana,Ahuja,devpillai@gmail.com,Haldia,Himachal Pradesh
2,3712,Abhiram,Swaminathan,hegdeyadavi@hotmail.com,Farrukhabad,Odisha
4,8930,Pavani,Kapoor,fariq41@gmail.com,Patna,Sikkim
5,4247,Ekapad,Ranganathan,ganeshkevin@yahoo.com,Bhilwara,Rajasthan
...,...,...,...,...,...,...
95,7726,Finn,Dave,mandalmax@gmail.com,Thoothukudi,Odisha
96,7979,Forum,Dara,madhavi40@gmail.com,Hajipur,Assam
97,670,Inaya,Vohra,warda07@yahoo.com,Bijapur,Uttar Pradesh
98,6023,Ubika,Kalita,sraja@gmail.com,Fatehpur,Gujarat
99,5782,Dalbir,Contractor,chatresh18@yahoo.com,Singrauli,Goa

In [85]:
median_=df['user_id'].median()
median_

4332.0

In [86]:
df['user_id'].fillna(median_,inplace=True)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     100 non-null    Int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        91 non-null     object
 5   state       95 non-null     object
dtypes: Int64(1), object(5)
memory usage: 4.9+ KB

In [ ]:
df['state'].fillna(fake.state(),inplace=True)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     100 non-null    Int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        91 non-null     object
 5   state       100 non-null    object
dtypes: Int64(1), object(5)
memory usage: 4.9+ KB

In [92]:
df['city'].fillna(fake.city(),inplace=True)

C:\Users\saiva\AppData\Local\Temp\ipykernel_13300\4113957517.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['city'].fillna(fake.city(),inplace=True)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     100 non-null    Int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   city        100 non-null    object
 5   state       100 non-null    object
dtypes: Int64(1), object(5)
memory usage: 4.9+ KB

In [97]:
df.to_csv('Cleaned data.csv')